       

{% load static %} 

    <link href="{% static "main.css" %}" rel="stylesheet">
      <footer class="footer">
 
      <div class="sponsors">
      <div><img class="sponsor" src="{% static "img/redbull.png" %}" /></div>
      <div><img class="sponsor" src="{% static "img/swimlike.png" %}" /></div>
      <div><img class="sponsor" src="{% static "img/rocktape.png" %}" /></div>
      <div><img class="sponsor" src="{% static "img/eteam.jpg" %}" /></div>
      <div><img class="sponsor" src="{% static "img/hvodi.png" %}" /></div>
      <div><img class="sponsor" src="{% static "img/fitness.png" %}" /></div>
      <div><img class="sponsor" src="{% static "img/sis.jpg" %}" /></div>
      <div><img class="sponsor" src="{% static "img/head.png" %}" /></div>
      <div><img class="sponsor" src="{% static "img/kotlinrace.png" %}" /></div>
      <div><img class="sponsor" src="{% static "img/swimrun.png" %}" /></div>
      <div><img class="sponsor" src="{% static "img/tort.jpg" %}" /></div>
      <div><img class="sponsor" src="{% static "img/waters.png" %}" /></div>
      <div><img class="sponsor" src="{% static "img/image002.png" %}" /></div>
      </div>

        <p>&copy; Jeeny 2017</p>
      </footer>

    </div>
  </body>
</html>
